<!DOCTYPE html>
<html th:fragment="parent(content, title)" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">basepage</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>
<body>
    <h1>Base pgae content</h1>
    <!-- Main content -->
    <section data-th-replace="${content}">

    </section>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>